@import "tailwindcss";
@import "@nuxt/ui";

/* Base scrollbar */
.shard-scroll {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent;
}

/* WebKit (Chrome, Edge, Tauri) */
.shard-scroll::-webkit-scrollbar {
  width: 8px;
}

.shard-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.shard-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0);
  border-radius: 8px;
  transition: background-color 0.3s;
}

/* Show scrollbar only on hover or scroll */
.shard-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
}

/* Firefox hover */
.shard-scroll:hover {
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}
